<?xml version="1.0" encoding="UTF-8"?>

<databaseChangeLog
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
         http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd">

    <changeSet id="1" author="{{ ms_user }}">
        <createTable tableName="Tasks">
            <column name="task_id" type="int">
                <constraints primaryKey="true" nullable="false"/>
            </column>
            <column name="task_status" type="varchar(255)">
                <constraints nullable="true"/>
            </column>
            <column name="report_id" type="varchar(1024)">
                <constraints nullable="true"/>
            </column>
        </createTable>
    </changeSet>

</databaseChangeLog>
