[Database]
username = {{ postgres_user }}
password = {{ postgres_user_password }}
db_type = postgresql
db_name = {{ task_db_name }}
host_string ={{ groups.task_db[0] }}

[api]
host = {{ ms_rest_host }}
port = {{ ms_rest_port }}
upload_folder = {{ dfs_mount_dir }}
distributed = True
cors = https?://{{ groups.webserver[0] }}(:\d+)?
batch_size = 100
batch_interval = 60

[celery]
protocol = pyamqp
host = {{ groups.task_broker[0] }}
user = {{ ms_rabbit_user }}
password = {{ ms_rabbit_password }}
vhost = {{ rabbit_task_primary_vhost }}