[ElasticSearchStorage]
ENABLED = True
host = {% for es_host in groups['elasticsearch'] %}{{ es_host }}{% if not loop.last %},{% endif %}{% endfor %}

port = 9200
index = multiscanner_reports
doc_type = report
metricbeat_enabled = {{ metricbeat_enabled }}
metricbeat_rollover_days = {{ metricbeat_rollover_days }}

[File]
ENABLED = False
path = report.json
gzip = False
files-per-line = 1

[MongoStorage]
ENABLED = False
host = localhost
port = 27017
database = multiscanner_reports
collection = reports

[Storage]
ENABLED = True
