[Unit]
Description=celery beat Service
After=network.target

[Service]
Type=simple
User={{ ms_user }}
ExecStart={{ multiscanner_venv }}/bin/celery -A multiscanner.distributed.celery_worker beat --pidfile={{ celery_pid_file }} --logfile={{ celery_log_file }} --loglevel={{ celery_log_level }}
WorkingDirectory={{ multiscanner_install_prefix }}/multiscanner
Restart=on-abort

[Install]
WantedBy=multi-user.target
