[Unit]
Description=celery beat Service
After=network.target

[Service]
Type=simple
User={{ ms_user }}
ExecStart={{ multiscanner_venv }}/bin/celery -A celery_worker beat
WorkingDirectory={{ multiscanner_install_prefix }}/multiscanner/utils
Restart=on-abort


[Install]
WantedBy=multi-user.target
