<VirtualHost *:{{ ms_web_port }}>
    #ServerName {{ ms_web_host }}
    ServerName {{ groups['webserver'][0] }}

{% if servers_use_ssl == True %}
    LoadModule ssl_module {{ mod_ssl_system_module }}
    SSLEngine on
    SSLCertificateFile "{{ apache_cert_folder_root }}/{{ webserver_cert_file }}"
    SSLCertificateKeyFile "{{ apache_cert_folder_root }}/private/{{ webserver_cert_key_file }}"
{% endif %}

    LoadModule wsgi_module {{ mod_wsgi_system_module }}
    WSGIDaemonProcess mscan_web user={{ ms_user }} group=root threads=5 python-home={{ multiscanner_venv }} python-path={{ multiscanner_install_prefix }}/multiscanner/web
    WSGIScriptAlias / {{ multiscanner_install_prefix }}/multiscanner/web/mscan_web.wsgi

    <Directory {{ multiscanner_install_prefix }}/multiscanner>
        WSGIProcessGroup mscan_web
        WSGIScriptReloading On
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
        Require all granted
    </Directory>

    Alias /static/ {{ multiscanner_install_prefix }}/multiscanner/web/static/
    <Directory {{ multiscanner_install_prefix }}/multiscanner/web/static>
            Order allow,deny
            Allow from all
            Require all granted
    </Directory>

    Alias /templates/ /opt/multiscanner/web/templates/
    <Directory /opt/multiscanner/web/templates>
            Order allow,deny
            Allow from all
            Require all granted
    </Directory>

    ErrorLog {{ mscan_web_log_dir }}/error.log
    LogLevel debug
    CustomLog {{ mscan_web_log_dir }}/access.log combined
</VirtualHost>