<VirtualHost *:{{ ms_web_port }}>
    ServerName {{ ms_web_host }}

    LoadModule wsgi_module {{ mod_wsgi_system_module }}
    WSGIDaemonProcess mscan_web user={{ ms_user }} group=root threads=5
    WSGIScriptAlias /mscanweb {{ multiscanner_install_prefix }}/multiscanner/web/mscan_web.wsgi

    <Directory {{ multiscanner_install_prefix }}/multiscanner>
        WSGIProcessGroup mscan_web
        WSGIScriptReloading On
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
        Require all granted
    </Directory>

    Alias /static/ {{ multiscanner_install_prefix }}/multiscanner/web/static/
    <Directory {{ multiscanner_install_prefix }}/multiscanner/web/static>
            Order allow,deny
            Allow from all
            Require all granted
    </Directory>
    ErrorLog {{ mscan_web_log_dir }}/error.log
    LogLevel debug
    CustomLog {{ mscan_web_log_dir }}/access.log combined
</VirtualHost>